/* Body and container styling */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('dungeon.jpg');
    background-size: cover; 
    background-attachment: fixed;
    background-color: #1a1a1a; 
    font-family: 'Arial', sans-serif;
    color: #fff;
    overflow: hidden;
  }
  
  .container {
    text-align: center;
    background: rgba(0, 0, 0, 0.543); 
    padding: 40px;
    border: 1px solid #333;
    box-shadow: 0px 0px 50px rgba(100, 0, 150, 0.6); 
    border-radius: 10px;
  }
  
  /* Title styling */
  .title {
    font-size: 3em;
    color: #9400d3; 
    text-shadow: 0 0 15px #9400d3, 0 0 25px #4a008a;
    margin-bottom: 30px;
  }
  
  /* Button styling */
  .btn {
    background-color: #2a2828;
    color: #9400d3;
    padding: 15px 30px;
    font-size: 1.2em;
    border: 2px solid #9400d3;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 0 0 8px #9400d3;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    color: #fff;
    background-color: #9400d3;
    box-shadow: 0px 0px 10px 5px #9400d3;
  }
  
  .btn:active {
    transform: scale(0.95);
  }

  
  